

button {
    background: transparent;
    color: white;
    margin-top: 10px;
    border: 1px solid white;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
}

input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

input[type=radio] {
    width: 0;
    }
    label.radio {
    position: relative;
    display: inline-block;
    margin: 5px 20px 25px 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #303f6e;
    }
    label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 6px;
    left: 5px;
    background: transparent;
    border: 3px solid #303f6e;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
    }
    input[type=radio]:checked + label:after {
    opacity: 1;
    }

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.bar-container {
    width: 100%; /* Full width */
    background-color:transparent; /* Grey background */
    border:1px solid white;
    }

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    padding-right: 10px;
    color: black; /* White text color */
    background-color: white;
    }

